.paragraph-color {
    color: #34495E !important;
}

.blue-background-color {
    background-color: #56b5e3 !important;
}

.yellow-background-color {
    background-color: #ffecb3 !important;
}

.green-background-color {
    background-color: #78cfa8 !important;
}